.main-builder {
    display: flex;
    width: 100vw;
    height: 90vh;
}

.components-builder {
    flex-grow: 1;
    width: 75vw;
    overflow:scroll;
    animation: onChargeBuilder 1.7s forwards;
}


.components-builder::-webkit-scrollbar {
    display: none;
   }

.text-noComponents {
    font-size: 1rem;
    color: #3f5476;
}


.empty-component-base {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 85vh;
}

.image-emptyBuilder {
    width: 120px;
    align-self: center;
    padding: 20px;
}

@keyframes onChargeBuilder {
    0% {
      opacity: 0.5;
      transform: translate(600px, 0px);
    }
    100% {
      opacity: 1;
      transition: transform 0.2s;
    }
  }


