.main-builder {
    display: flex;
    width: 100vw;
    height: 92vh;
}

.components-builder {
    flex-grow: 1;
    width: 75vw;
    overflow:scroll;
}

.text-noComponents {
    font-size: 1rem;
    color: #3f5476;
}


.empty-component-base {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 85vh;
}

.image-emptyBuilder {
    width: 120px;
    align-self: center;
    padding: 20px;
}


