
.title-homePage {
    padding: 40px 0px 5px 50px;
    font-size: 1.4rem;
    font-weight: 300;
    color: #3f5476;
}

.buttons-homePage {
    margin: 25px 0px 0px 100px;
    display: flex;
    justify-content: center;
    width: 70px;
}

.buttons-homePage:hover {
    opacity: 0.7;
}

.all-projects-homePage {
    display: flex;
    flex-wrap: wrap;
}

.projects-content {
    display: flex;
    flex-direction: row;
    width: 250px;
    padding: 20px 25px;
    border-radius: 5px;
    border: 1px solid #c8ced8;
    margin: 20px 30px 0px 50px;
    align-items: center;
}

.image-project-homePage {
    width: 50px;
}

.project-info {
    padding: 0px 20px 0px 30px;
}

.title-project-homePage {
    font-size: 1.1rem;
    color: #3f5476;
    font-weight: 600;
    margin-bottom: -5px;
    text-transform: capitalize;
}

.theme-project-homePage {
    font-size: 0.8rem;
    color: #3f5476;
    font-style: italic;
    text-transform: capitalize;
}

.image-small-homePage {
    width: 20px;
    padding-right: 10px;
    padding: 0px 10px 10px 0px;
}

.loading-container {
    width: 100vw;
    height: 100vh;
}



  