.loading-container {
    display: flex;
    flex-direction: column;
}

.image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.image-loading {
    text-align: center;
    align-self: center;
}