.modal-container {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    animation: pulse 0.5s forwards;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translateY(-40%);
    z-index: 50;
    font-family: 'Montserrat', sans-serif;
}

.home-projects-modal {
    left: 30%;  
    top: 45vh;
}

.deploy-projects-modal {
    left: 10%;  
    top: 45vh;
}


.modal-container-reset {
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    width: 40%;
    animation: pulse 0.5s forwards;
}

.modal-style {
    background-color: #fafafa;
    box-shadow: 10px 11px 19px -10px rgba(214,214,214,1);   
    color: white;
    border-radius: 8px;
    padding: 30px 40px;
    position: relative;
}

.modal-style-deploy {
    background-color: #fafafa;
    box-shadow: 10px 11px 19px -10px rgb(170, 170, 170);   
    width: 40%;
    border-radius: 8px;
    padding: 30px 40px;
    text-align: center;
}


.modal-style-reset {
    background-color: #fafafa;
    box-shadow: 10px 11px 19px -10px rgba(214,214,214,1);   
    width: 100%;
    color: white;
    border-radius: 8px;
    margin-top: -30px;
    padding: 50px 20px 90px 40px;
}

.form-create-project {
    display: flex;
    flex-direction: column;
}

.close-modal {
    background-color: transparent;
    float: right;
    color: white;
    border: none;
    position: absolute;
    right: 10%;
}

.close-deploy {
    position: relative;
}

.close-modal-image {
    width: 15px;
}

.label-modal {
    text-align: left;
    color: #3f5476;
    font-size: 1.1rem;
    margin: 10px 5px;
}

.input-modal {
    margin: 10px 0px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    color: grey;
    border: 1px solid #c8ced8;
    font-family: 'Montserrat', sans-serif;
}

.input-modal::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #00c77f;
}

.option-modal {
    margin: 5px;
    background: white;
    border: none;
    border-radius: 8px;
    box-shadow: -1px 1px 72px -16px rgba(21,26,61,1);
    padding: 10px;
    color: #00c77f;
    padding: 10px;
    text-transform: capitalize;
    border: 1px solid #c8ced8;
}

.button-modal {
    margin: 25px 5px 15px 5px;
    font-family: 'Montserrat', sans-serif;
    background: #00c77f;
    border: none;
    padding: 8px;
    border-radius: 8px;
    color: white;
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 500;
}

.button-modal-red {
    font-family: 'Montserrat', sans-serif;
    color: #f82323;
    margin: 0px;
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: underline;
}


.text-modal-close {
    color: #3f5476;
    font-size: 0.8rem;
    text-align: center;
}

.button-modal-delete {
    margin: 15px 5px 15px 5px;
    font-family: 'Montserrat', sans-serif;
    padding: 8px;
    border-radius: 8px;
    color: red;
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 500; 
    border: 1px solid red; 
    background: transparent;
}

.name-text-delete {
    color: red;
}

.soft-hr-style {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #e4e4e4 inset;
}

.title-modal {
    font-size: 1.3rem;
    color: #3f5476;
    font-weight: 500;
    text-align: left;
}

.themes-options {
    color: red;
}


.label-modal {
    color: #001745;
    font-weight: 500;
    font-size: 0.8rem;
}

.modal-field-group {
    display: flex;
    flex-direction: column;
}


.subgroup-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subgroup-field input{
    width: 50%;
}

.modal-img{
    width: 100%;
}

.modal-share {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.selector-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.image-selector{
    display: flex;
    flex-direction: column;
    color: darkgray;
    width: fit-content;
}

.image-selector img{
    width: 130px;
    margin: 20px;
    height: 130px;
}

.selected {
    outline: 5px solid #00c77f;
}

.openWindow-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
}  

.switch {
    position: relative;
    display: inline-block;
    align-self: center;
    margin-left: 30px;
  }
  .switch-input {
    display: none;
  }
  .switch-label {
    display: block;
    width: 48px;
    height: 24px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
  }
  .switch-label::before,
  .switch-label::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
  }
  .switch-label::before {
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 9999em;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
  }
  .switch-label::after {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease;
  }
  .switch-input:checked + .switch-label::before {
    background-color: #00c77f;
  }
  .switch-input:checked + .switch-label::after {
    left: 24px;
  }


  @keyframes pulse {
    0% {
      opacity: 0.1%;
      transform: scale(0.7);
    }
    100% {
      opacity: 1;
      transition: transform 0.5s;
    }
  }