.modal-container {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    animation: pulse 0.5s forwards;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    z-index: 50;
    font-family: 'Montserrat', sans-serif;
}

.modal-container-reset {
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    width: 40%;
    animation: pulse 0.5s forwards;
}

.modal-style {
    background-color: #fafafa;
    box-shadow: 10px 11px 19px -10px rgba(214,214,214,1);   
    width: 45%;
    color: white;
    border-radius: 8px;
    margin-top: -80px;
    padding: 30px 20px 30px 40px;
}

.modal-style-reset {
    background-color: #fafafa;
    box-shadow: 10px 11px 19px -10px rgba(214,214,214,1);   
    width: 100%;
    color: white;
    border-radius: 8px;
    margin-top: -30px;
    padding: 50px 20px 90px 40px;
}

.form-create-project {
    display: flex;
    flex-direction: column;
}

.close-modal {
    background-color: transparent;
    float: right;
    color: white;
    border: none;
}

.close-modal-image {
    width: 15px;
}

.label-modal {
    text-align: left;
    color: #3f5476;
    font-size: 1.1rem;
    margin: 10px 0px;
}

.input-modal {
    margin: 10px 0px;
    background: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #3f5476;
    border: 1px solid #c8ced8;
}

.input-modal::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #00c77f;
}

.option-modal {
    margin: 5px;
    background: white;
    border: none;
    border-radius: 8px;
    box-shadow: -1px 1px 72px -16px rgba(21,26,61,1);
    padding: 10px;
    color: #00c77f;
    padding: 10px;
    text-transform: capitalize;
    border: 1px solid #c8ced8;
}

.button-modal {
    margin: 25px 5px 15px 5px;
    font-family: 'Montserrat', sans-serif;
    background: #00c77f;
    border: none;
    padding: 8px;
    border-radius: 8px;
    color: white;
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 500;
}

.button-modal-red {
    font-family: 'Montserrat', sans-serif;
    color: #f82323;
    margin: 0px;
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: underline;
}


.text-modal-close {
    color: #3f5476;
    font-size: 0.8rem;
}

.name-text-delete {
    font-weight: 700;
    font-style: italic;
}


@keyframes pulse {
    0% {
      opacity: 0.1%;
      transform: scale(0.7);
    }
    100% {
      opacity: 1;
      transition: transform 0.5s;
    }
  }

.label-modal {
    color: darkgray;
    font-size: 0.8rem;
    margin-bottom: 0px;
}

.modal-field-group {
    display: flex;
    flex-direction: column;
}

.modal-field-subgroup {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.subgroup-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subgroup-field input{
    width: 50%;
}