.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 9px -1px rgba(210,210,210,1);
    background-color: white;
}

.logo-navBar {
    width: 70px;
    padding: 12px 30px;
}

.buttons-navBar{
    font-family: Montserrat, 'sans-serif';
    background-color: #f1f2f4;
    padding: 10px 30px;
    margin-right: 10px;
    border-radius: 3px;
    border: none;
    color: #3f5476;
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
    width: 150px;
    text-align: center;
}

.buttons-navBar-blocked {
    font-family: Montserrat, 'sans-serif';
    background-color: #f1f2f4;
    padding: 10px 30px;
    margin-right: 10px;
    border-radius: 3px;
    border: none;
    color: #3f5476;
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
    width: 150px;
    text-align: center; 
}

.buttons-navBar-blocked:active {
    animation: disabled 2s forwards;
  }

.user-nav {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    position: relative;
    padding: 12px 30px;
    border: 1px solid white;
    margin-top: 5px;
}

.user-navClicked {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    position: relative;
    border: 1px solid #c8ced8;
    padding: 12px 30px;
    margin-top: 5px;
}

.profile-image {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.user-text-nav {
    text-transform: capitalize;
    color: #3f5476;
    font-size: 0.8rem;
    margin-right: 20px;
}

.dropdown-container {
    position: absolute;
    top: 100%;
    width: 101%;
    left: -0.5%;
    z-index: 100;
}

.icon-navBar {
    width: 30px;
    align-self: center;
    margin-right: 10px;
}

.dropdown-element {
    width: 100%;
    font-family: Montserrat, 'sans-serif';
    padding: 10px 40px;
    border-radius: 0px 3px;
    border: 1px solid #c8ced8;
    color: #db0000;
    font-weight: 400;
    font-size: 0.8rem;
    text-decoration: none;
    box-shadow: 1px 10px 9px -1px rgba(210,210,210,0.5);
    background-color: white; 
    display: flex;
    justify-content: left;
    align-self: center;
}

.container-navbar {
    display: flex;
}

.text-navbar {
    color: #3f5476;
    font-size: 0.8rem;
    margin-right: 25px;
}

@keyframes opacity {
    0% {
      transform: translate(300px, 0px);
    }
    50%{
      opacity: 0.5;
      transform: translate(300px, 0px);
    }
    100% {
      transition: transform 0.2s;
      opacity: 1;
    }
  }

  @keyframes disabled {
    0% {
      transform: translate(5px, 0px);
    }
    10%{
      transform: translate(-5px, 0px);
    }
    30%{
        transform: translate(5px, 0px);
      }
    40% {
        transform: translate(-5px, 0px);
    }
    100% {
        transform: translate(0px, 0px);  
    }
  }
