.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    box-shadow: 1px 1px 9px -1px rgba(210,210,210,1);
    background-color: white;
}

.logo-navBar {
    width: 70px;
}

.buttons-navBar{
    font-family: Montserrat, sans-serif;
    background-color: #f1f2f4;
    padding: 8px 30px;
    margin-right: 10px;
    border-radius: 3px;
    border: none;
    color: #3f5476;
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
}

