.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin-top: -40px;
}

.title-not-found {
  color: #3f5476;
  font-size: 5rem;
}

.subtitle-not-found {
  color:#3f5476;
  font-size: 1.4rem;
  margin-top: -60px;
}

.button-not-found {
  background-color: none;
  font-family: 'Montserrat', sans-serif;
  color: #3f5476;
  border: 1px solid #3f5476;
  border-radius: 5px;
  padding: 8px 40px;
  margin-top: 10px;
  font-size: 0.8rem;
}

.button-not-found:hover {
  background-color: #3f5476;
  color: white;
}

