.container-options-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    border: 1px solid #c8ced8;
    z-index: 10;
}

.buttons-optionBar {
    border: none;
    animation: appear 0.5s forwards;
}

.image-optionBar {
    width: 25px;
    margin-top: 2px;
    padding-right: 2px;
    animation: appear 0.5s forwards;
    background-color: white;
}

@keyframes appear {
    0% {
      opacity: 0.1%;
      transform: scale(0.7);
    }
    100% {
      opacity: 1;
      transition: transform 0.5s;
    }
  }

.colorPicker {
  position: absolute;
  top: 35px;
  left: 150px;
}


