.App {
  text-align: center;
  height: 100vh;
  background-color: #1f2554;
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 10px;
}

.options-bar {
  position: absolute;
}

.main-builder {
  display: flex;
  flex-direction: row;
}

.components-bar {
  width: 30%;
  background-color: black;
  color: wheat;
}

.user-web-page {
  width: 100vw;
}

.user-component-base {
  width: 100%;
}

.main-builder {
  height: 100vh;
}

